body {
    font-family: 'DM Sans', sans-serif;
    color: #343434;
    font-size: 16px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 44px;
}

.page {
    height: 670px;
}

/* Top */
.top {
    background-color: #f6f6f6;
    align-content: center;
}

.Yuta-top {
    width: 350px;
}

.profile {
    align-content: center;
}

.profession {
    font-size: 24px;
    margin-bottom: 30px;
}

.reach-out {
    font-size: 11px;
    color: #ffffff;
    background-color: #343434;
    text-decoration: none;
    padding: 7px 45px;
}

/* About Me */
.about-me {
    background-color: #b4b0ab;
    align-content: center;
}

.Yuta-about-me {
    width: 350px;
}

.description {
    text-align: left;
    align-content: center;
}

/* Technical Skills */
.technical-skills {
    background-color: #ffffff;
    align-content: center;
    height: 670px;
}


@media (max-width: 767px) {
    .technical-skills {
        height: 900px;
    }
}

@media (max-width: 767px) {
    .h1-technical-skills {
        margin-top: 25px; /* Only for mobiles */
    }
}

.skill-title {
    margin-top: 35px;
    min-height: 75px;
}

.skill-label {
    font-size: 21px;
    background-color: #343434;
    color: #ffffff;
    text-align: center;
    width: 150px;
    border-radius: 20px;
    padding: 5px 0px;
    margin: 20px 0px;
}

/* Experience & Education */
.experience-and-education {
    background-color: #f6f6f6;
    height: 670px;
    padding-top: 60px;
}

@media (max-width: 767px) {
    .experience-and-education {
        height: 1000px;
    }
}

.experience {
    padding-bottom: 10px;
}

.education {
    padding-top: 20px;
    border-top: 1px solid black;
}

.detail {
    font-size: 14px;
}

/* Contact */
.contact {
    color: #ffffff;
    background-color: #000000;
    align-content: center;
    height: 670px;
}

.contact a {
    text-decoration: none;
}

.h1-contact {
    margin-bottom: 50px;
}

.icon {
    width: 40px;
    height: 40px;
}

.name {
    font-size: 20px;
    margin-bottom: 10px;
}

.Yuta-contact {
    width: 350px;
}

@media (max-width: 767px) {
    .contact {
        height: 800px;
    }
    .contact-info {
        margin: 25px 0px;
    }
}
